.loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #FFF;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 1;
    visibility: visible;
}

.loading.is-active {
    opacity: 0;
    visibility: hidden;
}

.loading-animation {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    background-color: #000;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}

.loading-animation.is-active {
    opacity: 1;
    visibility: visible;
}

.loading-animation p {
    font-size: 100px;
    color: #FFF;
}

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
    display: flex;
    overflow: hidden;
    color: #fff;
    font-family: "Impact";
    margin-right:auto;
    margin-left:auto;
    margin-top:40px;
    font-size: 100px;
    z-index: 9999;
}

.title span {
    display: block;
    transform: translate(0, 105%);
    transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible span {
    transform: translate(0, 0);
}

.title span:nth-child(2) {
    transition-delay: 0.05s;
}

.title span:nth-child(3) {
    transition-delay: 0.10s;
}

.title span:nth-child(4) {
    transition-delay: 0.15s;
}

.title span:nth-child(5) {
    transition-delay: 0.20s;
}

.title span:nth-child(6) {
    transition-delay: 0.25s;
}

.title span:nth-child(7) {
    transition-delay: 0.30s;
}

.title span:nth-child(8) {
    transition-delay: 0.35s;
}

.title span:nth-child(9) {
    transition-delay: 0.40s;
}

.title span:nth-child(10) {
    transition-delay: 0.45s;
}

.title span:nth-child(11) {
    transition-delay: 0.50s;
}

.title span:nth-child(12) {
    transition-delay: 0.55s;
}

.title span:nth-child(13) {
    transition-delay: 0.60s;
}

.title span:nth-child(14) {
    transition-delay: 0.65s;
}

/****** Base style. ******/
body {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0;
    background: #141414;
    overflow:hidden;
  }
  canvas{
    position:absolute;
    top:0;
    left:0;
    z-index: 0;
  }